/* STYLES FOR THE INVOICE PAGE */


/* INVOICE SUMMARY */

.logo {
    height: 60px;
}

.summary-card {
    background: #2C2A2A;
    color: #FFF;
}

/* COLORS */
.color-green {
    color: #038749;
}

.color-blue {
    color: #3A75DC;
}

.color-red {
    color: #F15D5D;
}

.color-purple {
  color: rgba(42, 23, 110, 0.9);
}

.bg-blue {
    background: #3A75DC;
}

.bg-green {
    background: #038749;
}

.bg-purple {
   background: rgba(42, 23, 110, 0.9);
}
.bg-red {
    background: #F15D5D;
}

.bg-grey {
    background: #C4C4C5;
}

.bg-black-variant {
    background: #2C2A2A
}

/* INVOICE PAYMENT TABLE */
.payment-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.payment-table tbody tr {
    background: #FFF;
}

.payment-table td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.payment-table td:first-child {
    border-radius: 8px 0 0 8px;
}

.payment-table td:last-child {
    border-radius: 0 8px 8px 0;
}

/* FLOATING ACTION BUTTON */
.float-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #2a176e;
    border-radius: 50px;
}

/* PAYMENT BUTTONS */
.part-payment-button {
    background: #2a176e;
}

/* .part-payment-button:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #3A75DC;
} */

.full-payment-button {
    background: #038749;
}

.payment-button {
    cursor: pointer;
    /* widt jh: 50%; */
}

.part-payment-button:after {
    content: " ";
    position: absolute;
    right: 75%;
    /* bottom: -40px; */
    border-top: 40px solid #2a176e;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: none;
}

.full-payment-button:after {
    content: " ";
    position: absolute;
    right: 25%;
    /* bottom: -40px; */
    border-top: 40px solid #038749;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: none;
}

/* .full-payment-button:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #038749;
} */


/* INVOICE INPUT BOX */

.input-box{
    border: 1px solid #2C2A2A;
    border-radius: 5px;
}

.input-box:focus{
    border: 1px solid #343232 !important;
}

#invoice-body{
    margin-bottom: 30px;
}

#errorMsgBtn {
    display: none;
}

.invoice-error {
    background:  rgba(42, 23, 110, 0.9);
    color: #fff;
}

.invoice-error input {
    border: 1px solid #fff;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
}

.no-history {
    display: none;
    text-align: center;
}

#remita-form {
    display: none;
}

#noRRRBtn {
    display: none;
}

#errorModal {
    text-align: center;
}
#errorMsg {
    font-weight: 700;
    color: red;
    text-align: center;
}

#invoice-input-modal .modal-body {
    background:  rgba(42, 23, 110, 0.9);
    color: #fff;
}

#invoice-input-modal .modal-body .text-input-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
}

.text-input-container input, .text-input-container input:focus{
    background-color: #ffffff;
    border: none;
}

#invoice-input-modal .btn-cancel {
    color: #fff;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}

#see-rrr-modal .modal-body {
    background-color: #fff;
}

#rrr_number {
    font-size: 20px;
    font-weight: 600;
}

#warning-modal {
    color: orangered;
}

.part-payment-button:hover {
    -webkit-box-shadow:  1px 5px rgba(58, 117, 220, 0.3);
    -moz-box-shadow:  1px 5px rgba(58, 117, 220, 0.3);
    box-shadow:  1px 5px rgba(58, 117, 220, 0.3);
    font-size: 1.6rem;
}

.full-payment-button:hover {
    -webkit-box-shadow:  1px 5px rgba(3, 135, 73, 0.3);
    -moz-box-shadow:  1px 5px rgba(3, 135, 73, 0.3);
    box-shadow:  1px 5px rgba(3, 135, 73, 0.3);
    font-size: 1.6rem;
}

/*loader style*/
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

