body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-dark {
    background: #2C2A2A;
}
#landing-container {
    position: relative;
    background: linear-gradient(rgba(44,42,42, 0.8), rgba(42, 23, 110, 0.2)), url(../images/NCAA-Payment-website-Background-Image.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}
#landing-content {
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

#logo {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 30px;
}

#logo img {
    width: 100px

}

/*rgba(42, 23, 110, 0.9)*/
.content-container {
    background:  rgba(42, 23, 110, 0.9);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 45px 20px;
    border-radius: 15px;

}
.content-container input {
    padding-left: 1rem !important;
    border: 1px solid #fff;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
    border-bottom: none;
    font-size: 1rem;
}

.invoiceNoLabel {
    font-size: 14px;
    font-weight: 400;
}

input.form-control:focus, input[type=text]:focus, [type=text].form-control:focus {
    box-shadow: none;

}
input#invoicePayment:focus{
    border-color: black;
}
.input-group>.input-group-append>.btn {
    border-radius: 0 15px 15px 0;
}
.btn-proceed {
    color: #fff;
    background-color: #2C2A2A;
    border-color: #2C2A2A;
    background-image: none;
    border-radius: 0 15px 15px 0 !important;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-proceed:hover {
    color: #fff;
    background-color: #2C2A2A;
    border-color: #2C2A2A;
    background-image: none;
}

.mic-icon .feather {
    width: 30px;
    height: 40px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.text-input-container {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
}
.text-input-container input:focus{
    background-color: #ffffff;
    border: none;
}
.text-input-container .mic-icon {
    position: absolute;
    top: 22%;
    right: 100px;
    color: #2c2a2aad;
    z-index: 9;
    cursor: pointer;
}

.mic-container {
    width: 130px;
    height: 130px;
    background: #ccc;
    border-radius: 50%;
    padding: 18px;
}

.mic-container-error {
    background: #ea4335;
}
.mic-content {
    width: 100%;
    height: 100%;
    background: #ea4335;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 27%;
}
.mic-content .feather {
    width: 50px;
    height: 50px;
}

.circle-mic {
    position: relative;
    left: 27%;
    top: 23%;
}

.circle-mic .feather {
    width: 50px;
    height: 50px;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.voice-content-text {
    position: absolute;
    top: 45%;
}
.voice-content-btn {
    position: absolute;
    bottom: 10%;
    background: #e66155;
}
#footer {
    position: fixed;
    bottom: 10px;
    width:100%
}
#footer-text {
    color: #ffffff;
}

.spinner-container {
    position: absolute;
    background: linear-gradient(rgba(42, 23, 110, 0.7), rgba(42, 23, 110, 0.9));
    height: 100vh;
    /*width: 100%;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 30%;
    left: 48%;
    z-index: 999;
}

.spinner > div {
    background-color: #000;
    height: 120px;  /*Previously 100%*/
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.modal {
  background: rgba(44, 42, 42, 0.7);
}
.modal-dialog {
  top: 20%
}
.modal-header {
    border-radius: 0 !important;
}
.modal-content {
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 6px 36px rgba(0, 0, 0, 0.7);
    box-shadow: 0 6px 36px rgba(0, 0, 0, 0.7);
}

.btn-sm, .btn-group-sm>.btn {
    padding: 0.25rem 1.5rem;
}

.modal-body {
    text-align: center;
}

.info-icon {
    width: 50px;
    height: 50px;
}

.img-container {
    width: 80px;
    position: absolute;
    left: 8%;
    top: 4%;
}

.img-container img {
    width: 100%;
}
